.footerUpsell {
  width: 1280px;
  height: 554px;
  position: relative;
}

.footerUpsellLine {
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  margin-bottom: 120px;
}

.footerUpsellLineMobileOnly {
  display: none;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.footerUpsellText {
  width: 651px;
  height: 310px;
}

.footerUpsellTextMiniTitle {
  width: 651px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
  margin-bottom: 1.5rem;
}

.footerUpsellTextTitle {
  width: 620px;
  height: 68px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  color: #111111;
  margin-bottom: 1.5rem;
}

.footerUpsellTextSubtitle {
  width: 537px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #555555;
  margin-bottom: 40px;
}

.footerUpsellTextSubtitleMobile {
  display: none;
}

.footerUpsellButton {
  width: 188px;
  height: 75px;
  border-radius: 100px;
  background-color: #ffffff;
  border-color: #ff8139;
}

.footerUpsellButtonText {
  width: 76px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #111111;
}

.footerUpsellImage {
  position: absolute;
  width: 206px;
  height: 467px;
  left: 853px;
  top: 87px;
  background-image: url(../assets/upsell-footer-image.svg);
}
