/* OPTIONAL QUERRIES KAD GRAZIAU SUSIDELIOTU MAZINANT :) */

@media screen and (max-width: 1439px) {
  .showcaseCards {
    justify-content: center;
  }

  .footer {
    padding-bottom: 71px;
  }
}
@media screen and (max-width: 1000px) {
  .footerUpsellImage {
    left: 548.438px;
  }
  .footerRightAbout {
    top: -40px;
  }
  .footerRightAboutText {
    top: -20px;
  }
  .footerRightNFT {
    left: 0;
    top: 80px;
  }
  .footerRightNFTText {
    left: 0;
    top: 100px;
  }
  .footerRightContact {
    top: -40px;
    left: 120px;
  }
  .footerRightContactText {
    top: -20px;
    left: 120px;
  }
  .footerRightSocial {
    top: 80px;
    left: 120px;
  }
  .footerRightSocialText {
    top: 100px;
    left: 120px;
  }
}
@media screen and (max-width: 834px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .headerNav {
    display: none;
  }
  .headerNavBurger {
    margin-top: 9px;
    font-size: 22px;
    display: block;
  }
  .heroImage {
    left: 349.031px;
  }
  .footerUpsell {
    overflow: hidden;
  }
  .footerUpsellTextTitle,
  .footerUpsellTextSubtitle {
    max-width: 350px;
  }
  .footerUpsellImage {
    left: 340px;
  }
}
@media screen and (max-width: 680px) {
  .upsellText {
    margin-top: 60px;
  }
}
@media screen and (max-width: 670px) {
  .heroImage {
    left: 250px;
  }
  .footer .container {
    height: 553px;
  }
  .footerBottomRight {
    display: none;
  }
  .footerRight {
    left: 0;
    top: 320px;
  }
  .footerBottomLeft {
    top: 150px;
  }
}
@media screen and (max-width: 500px) {
  .heroImage {
    left: 200px;
    top: -40px;
  }
  .footerUpsellImage {
    left: 330px;
  }
}
@media screen and (max-width: 450px) {
  .footerUpsellImage {
    left: 280px;
  }
}

/* ============================================= */

@media screen and (max-width: 428px) {
  body {
    width: 428px;
    overflow-x: hidden;
    border-radius: 0;
  }
  .container {
    width: 364px;
    margin: 0 32px;
  }

  /* ========= HEADER ========= */

  .header {
    padding-top: 32px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .header .container {
    width: 364px;
    height: 36px;
    margin-bottom: 42px;
  }

  .headerNav {
    display: none;
  }
  .headerNavBurger {
    margin-top: 9px;
    font-size: 22px;
    display: block;
  }

  /* ========= HERO ============ */
  .hero {
    width: 482.62px;
    width: 100%;
    height: 448px;
    margin-bottom: 80px;
    display: flex;
    overflow: hidden;
  }
  .hero .container {
    width: 482.62px;
    height: 448px;
  }

  .heroImage {
    top: -40px;
    left: 193px;
  }

  .heroText {
    width: 274px;
    height: 410px;
  }

  .heroTextMiniTitle {
    margin-top: 42px;
    height: 19px;
  }

  .heroTextTitle {
    width: 274px;
    height: 116px;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
  }

  .heroTextMain {
    width: 274px;
    height: 120px;
    margin-bottom: 2rem;
  }
  /* ================= UPSELL */
  .upsell .container {
    width: 100%;
    height: 326px;
    margin-left: 0;
    background-image: linear-gradient(to right, #d67084, orange);
    margin-bottom: 64px;
    border-radius: 0;
  }
  .upsellText {
    margin-top: 122px;
    margin-left: 32px;
    width: 364px;
    height: 172px;
  }
  .upsellTextTitle {
    width: 364px;
    height: 96px;
  }
  .upsellTextSubtitle {
    width: 364px;
    height: 60px;
  }

  /* Press ========================== */

  .press .container {
    margin-top: 0;
    width: 364px;
    height: 117px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 56px;
  }

  .press1 {
    left: 0;
    width: 138px;
  }
  .press2 {
    width: 180px;
    left: 210px;
  }
  .press3 {
    left: 0;
    bottom: 0;
    width: 180px;
  }
  .press4 {
    display: none;
  }
  .press5 {
    width: 180px;
    left: 210px;
    top: 75px;
  }

  /* ============ SHOWCASE */

  .showcase {
    width: 100%;
    height: 642px;
    margin-bottom: 92px;
    /* kad butu scrollable nft gallery */
    overflow: scroll;
  }

  .showcaseText {
    width: 364px;
    height: 202px;
  }

  .showcaseTextTitle {
    width: 100%;
    height: 96px;
  }

  .showcaseTextSubtitle {
    width: 100%;
    height: 90px;
  }

  .showcaseCards {
    width: 1280px;
    flex-wrap: nowrap;
    margin-top: 40px;
  }

  /* =================================== */

  .footerUpsell {
    width: 100%;
    height: 630px;
    overflow: hidden;
  }

  .footerUpsell .container {
    margin-left: 0;
    width: 428px;
  }

  .footerUpsellLine {
    margin-bottom: 64px;
  }

  .footerUpsellText {
    width: 100%;
    margin-left: 32px;
  }
  .footerUpsellTextMiniTitle {
    width: 100%;
  }
  .footerUpsellTextTitle {
    width: 274px;
    height: 204px;
    margin-bottom: 22px;
  }

  .footerUpsellLineMobileOnly {
    display: block;
    position: absolute;
    top: 328px;
  }

  .footerUpsellTextSubtitle {
    display: none;
  }

  .footerUpsellTextSubtitleMobile {
    display: block;
    width: 207px;
    height: 120px;
    margin-bottom: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
  }

  .footerUpsellImage {
    overflow-x: hidden;
    left: 253.52px;
    top: 164px;
  }

  /* Footer =============================== */

  .footer {
    width: 428px;
    height: 632px;
    padding-bottom: 0;
  }

  .footer .container {
    margin-left: 0;
    width: 428px;
  }

  .footerLine {
    width: 100%;
    margin-bottom: 64px;
  }

  .footerLeft {
    top: 64px;
    margin-left: 2rem;
  }

  .footerRight {
    width: 260px;
    height: 282px;
    top: 264px;
    left: 32px;
  }

  .footerRightSocial {
    top: 179px;
    left: 165px;
  }

  .footerRightSocialText {
    top: 216px;
    left: 165px;
  }

  .footerRightContact {
    top: 179px;
    left: 0;
  }

  .footerRightContactText {
    top: 216px;
    left: 0;
  }

  .footerRightNFT {
    top: 0;
    left: 165px;
  }
  .footerRightNFTText {
    left: 165px;
    top: 37px;
  }

  .footerRightAbout {
    top: 0;
  }
  .footerRightAboutText {
    top: 37px;
  }

  .footerBottom {
    width: 286px;
    height: 20px;
    top: 610px;
    left: 32px;
  }
  .footerBottomRight {
    display: none;
  }

  .footerBottomLeft {
    top: 0;
  }
}
