@media screen and (max-width: 428px) {
  body {
    width: 428px;
    overflow-x: hidden;
  }
  .container {
    width: 364px;
    margin: 0 32px;
  }

  /* ========= HEADER ========= */

  .header {
    margin-top: 32px;
  }
  .header .container {
    width: 364px;
    height: 36px;
    margin-bottom: 74px;
  }

  .headerNav {
    display: none;
  }
  .headerNavBurger {
    margin-top: 9px;
    font-size: 22px;
    display: block;
  }

  /* ========= HERO ============ */
  .hero {
    width: 482.62px;
    width: 100%;
    height: 448px;
    margin-bottom: 80px;
    display: flex;
    overflow: hidden;
  }
  .hero .container {
    width: 482.62px;
    height: 448px;
  }

  .heroImage {
    width: 189.62px;
    height: 278px;
    left: 253px;
  }

  .heroText {
    width: 274px;
    height: 410px;
  }

  .heroTextMiniTitle {
    margin-top: 42px;
    height: 19px;
  }

  .heroTextTitle {
    width: 274px;
    height: 116px;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
  }

  .heroTextMain {
    width: 274px;
    height: 120px;
    margin-bottom: 2rem;
  }
  /* ================= UPSELL */
  .upsell .container {
    width: 100%;
    height: 326px;
    margin-left: 0;
    background-image: linear-gradient(to right, #d67084, orange);
    margin-bottom: 64px;
  }
  .upsellText {
    margin-left: 32px;
    width: 364px;
    height: 172px;
    top: 122px;
  }
  .upsellTextTitle {
    width: 364px;
    height: 96px;
  }
  .upsellTextSubtitle {
    width: 364px;
    height: 60px;
  }

  /* Press ========================== */

  .press .container {
    margin-top: 0;
    width: 364px;
    height: 117px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 56px;
  }

  .press1 {
    left: 0;
    width: 138px;
  }
  .press2 {
    width: 180px;
    left: 210px;
  }
  .press3 {
    left: 0;
    bottom: 0;
    width: 180px;
  }
  .press4 {
    display: none;
  }
  .press5 {
    width: 180px;
    left: 210px;
    top: 75px;
  }

  /* ============ SHOWCASE */

  .showcase {
    width: 100%;
    height: 642px;
    margin-bottom: 92px;
    overflow: hidden;
  }

  .showcaseText {
    width: 364px;
    height: 202px;
  }

  .showcaseTextTitle {
    width: 100%;
    height: 96px;
  }

  .showcaseTextSubtitle {
    width: 100%;
    height: 90px;
    top: 112px;
  }

  .showcaseCard1,
  .showcaseCard2,
  .showcaseCard3,
  .showcaseCard4 {
    top: 242px;
  }

  /* =================================== */

  .footerUpsell {
    width: 100%;
    height: 630px;
    overflow: hidden;
  }

  .footerUpsell .container {
    margin-left: 0;
    width: 428px;
  }

  .footerUpsellLine {
    margin-bottom: 64px;
  }

  .footerUpsellText {
    width: 100%;
    margin-left: 32px;
  }
  .footerUpsellTextMiniTitle {
    width: 100%;
  }
  .footerUpsellTextTitle {
    width: 274px;
    height: 204px;
    margin-bottom: 22px;
  }

  .footerUpsellLineMobileOnly {
    display: block;
    position: absolute;
    top: 328px;
  }

  .footerUpsellTextSubtitle {
    display: none;
  }

  .footerUpsellTextSubtitleMobile {
    display: block;
    width: 207px;
    height: 120px;
    margin-bottom: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
  }

  .footerUpsellImage {
    overflow-x: hidden;
    left: 253.52px;
    top: 164px;
  }

  /* Footer =============================== */

  .footer {
    width: 428px;
    height: 632px;
  }

  .footer .container {
    margin-left: 0;
    width: 428px;
  }

  .footerLine {
    width: 100%;
    margin-bottom: 64px;
  }

  .footerLeft {
    top: 64px;
    margin-left: 2rem;
  }

  .footerRight {
    width: 260px;
    height: 282px;
    top: 264px;
    left: 32px;
  }

  .footerRightSocial {
    top: 179px;
    left: 165px;
  }

  .footerRightSocialText {
    top: 216px;
    left: 165px;
  }

  .footerRightContact {
    top: 179px;
    left: 0;
  }

  .footerRightContactText {
    top: 216px;
    left: 0;
  }

  .footerRightNFT {
    left: 165px;
  }
  .footerRightNFTText {
    top: 37px;
  }
  .footerRightAboutText {
    top: 37px;
  }

  .footerBottom {
    width: 286px;
    height: 20px;
    top: 610px;
    left: 32px;
  }
  .footerBottomRight {
    display: none;
  }
}
