.press .container {
  width: 1280px;
  height: 49px;
  margin-top: 120px;
  position: relative;
  margin-bottom: 120px;
}

.press1 {
  position: absolute;
  width: 216.12px;
  height: 40.7px;
  top: 5.6px;
  background-image: url(../assets/companies/1.svg);
}
.press2 {
  position: absolute;
  width: 154.08px;
  height: 46.46px;
  left: 322.67px;
  top: 2.54px;
  background-image: url(../assets/companies/2.svg);
  background-repeat: no-repeat;
}
.press3 {
  position: absolute;
  width: 132.72px;
  height: 46.21px;
  left: 583.3px;
  background-image: url(../assets/companies/3.svg);
  background-repeat: no-repeat;
}
.press4 {
  position: absolute;
  width: 194.76px;
  height: 40.7px;
  left: 822.57px;
  top: 5.6px;
  background-image: url(../assets/companies/4.svg);
}
.press5 {
  position: absolute;
  width: 156.12px;
  height: 40.7px;
  left: 1123.88px;
  top: 5.6px;
  background-image: url(../assets/companies/5.svg);
  background-repeat: no-repeat;
}
