.upsell .container {
  min-height: 320px;
  background-image: url(../assets/background.svg);
  display: flex;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.upsellText {
  margin-top: 154px;
  margin-left: 64px;
}

.upsellTextTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: flex-end;
  color: #111111;
  margin-bottom: 24px;
}

.upsellTextSubtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #111111;
}
