.upsell .container {
  width: 1280px;
  height: 320px;
  background-image: url(../assets/background.svg);
  display: flex;
}

.upsellText {
  margin-top: 154px;
  width: 620px;
  height: 102px;
  margin-left: 64px;
}

.upsellTextTitle {
  width: 620px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: flex-end;
  color: #111111;
  margin-bottom: 24px;
}

.upsellTextSubtitle {
  width: 537px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #111111;
}
